.vetrinam * {
    font-family: Arial !important; 
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
}
.vetrinam {
    
    background-size: contain;
    min-height: 600px;
    padding-top: 100px;
}
.vetrinam img {
    width: 100%;
}
.vetrinam .sp {
    margin: auto;
    width: 100px;
    border-bottom: 3px solid #088A08;
    height: 5px;
}

.vetrinam .tt {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 20px;
}
.model {
    display: flex;
    flex-wrap: wrap;
}
.model ul {
    width: 45%;
    margin: 5px;
}
.model ul li a img {
    width: 100%;
    margin: 5px;
}
#gioi-thieu{
    background-image: url("../images/gioi-thieu.png");
    width: 100%;
    height: 300px;
  }